
<style>
    h5 {
        margin-top: -1%;
        font-style: italic;
    }
</style>
<h1>
    Todo Application
</h1>
<h5>
    Powered by SlimPHP framework
</h5>

<hr>

<div id="task-main-div">
    <h2>
        Tasks:
    </h2>

    <ul>
        {{ tasks }}
    </ul>

    <form action="valami.php" method="post">

    </form>
</div>




