<style>
    {{ source('style.css') }}
</style>
<h1>
    Todo Application
</h1>
<h5>
    Powered by SlimPHP framework
</h5>

<hr>

<div id="task-main-div">
    <form name="form" method="post" action="" class="input_form">
        <input type="text" name="task" class="task_input" required>
        <button type="submit" name="submit" id="add_btn" class="add_btn">Add Task</button>
    </form>

    <table>
        <thead>
        <tr>
            <th class="task_number">#</th>
            <th>Task</th>
            <th class="delete_action">Delete</th>
        </tr>
        </thead>

        <tbody>
        {% for key,task in tasks %}
        <tr>
            <td>{{ tasks[key]['id'] }}</td>
            <td class="task"> {{ tasks[key]['text'] }}</td>
            {% include 'delete.phtml' %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>